.banner {
  position: absolute;
  top: 80%;
  left: 75%;
  border: 2px solid navy;
  border-radius: 10px;
  background-color: #000;
  color: white;
  padding: 20px;
  margin: 20px;
}
.btn {
  border: 1px solid navy;
  border-radius: 5px;
  padding: 5px 10px;
}
.btn-close {
  position: absolute;
  top: 5px;
  left: 89%;
  background: none;
  color: white;
  appearance: none;
}
