:root {
  --btn-focus-color: yellow;
  --page-bg-color: #fff;
  --text-color: #000;
  --border-color: #000;
  --banner-bg-color: #000;
  --banner-text-color: #fff;
  --cookie-color: #000;
}
.light {
  --btn-focus-color: yellow;
  --page-bg-color: #fff;
  --text-color: #000;
  --border-color: #555;
  --banner-bg-color: #fff;
  --banner-text-color: #000;
}
.dark {
  --btn-focus-color: yellow;
  --page-bg-color: #000;
  --text-color: #fff;
  --border-color: #aaa;
  --banner-bg-color: #000;
  --banner-text-color: #fff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--page-bg-color);
  color: var(--text-color);
}
h1 {
  text-align: center;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  display: inline;
  color: var(--text-color);
}

.btn-theme {
  appearance: none;
  background: none;
  border: none;
}
.theme {
  display: block;
  text-align: right;
}
.banner {
  position: fixed;
  bottom: 6px;
  right: 10px;
  border: 5px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--banner-bg-color);
  color: var(--banner-text-color);
  padding: 20px;
  margin: 20px;
}
.banner-header {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 5px;
  right: 5px;
}
.btn {
  border: 1px solid navy;
  border-radius: 5px;
  padding: 5px 10px;
}
.btn:focus {
  outline: 2px solid var(--btn-focus-color);
  outline-offset: 2px;
}

.btn-accept {
  display: flex;
  justify-self: right;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
.is-hidden {
  display: none;
}
.is-visible {
  display: inline;
}
